<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>日行一善</title>
    <link rel="stylesheet" href="__PUBLIC__/frozenui/css/frozen.css">
    <style>
        body{
            background-color: #E7C700;
        }
    </style>
</head>
<body ontouchstart="">
<a href="{:U('/Admin/Type/typeList')}">后台</a>
<section>
    <image src="__PUBLIC__/images/m_yishan_title.png" style="margin-top:20px;width:100%;height:100%;"/>
    <div class="ui-flex ui-flex-pack-center" style="margin-top:10px;">
        <p style="color:red;">款项专款专用,请按自己意愿选择用途</p>
    </div>
    <div class="ui-flex ui-flex-pack-center" style="margin-top:10px;">
        <a style="color:red; border: 1px solid red; padding:5px" href="t_query.php">查看功德林</a>
    </div>
    <image src="__PUBLIC__/images/yishan.jpg" style="margin-top:10px;width:100%;height:100%;"/>
</section>
<footer class="ui-footer">
    <div style="padding-left:15px;padding-right:15px;">
        <button class="ui-btn-lg ui-btn-danger" onclick="">
            点击开始日行一善
        </button>
    </div>
</footer>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

</script>

</body>
</html>