<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
</head>
<body>
<div class="container">
    <h1>订单列表</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center">订单号</th>
            <th class="text-center">斋主姓名</th>
            <th class="text-center">随喜金额</th>
            <th class="text-center">随喜项目</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="orderList" item="order">
            <tr>
                <td class="text-center" style="font-size:20px;">{$order.name}</td>
                <td class="text-center"><a class="btn btn-default" href="{:U('Type/modifyType',array( 'id'=> $type['id'] ))}">详情</a></td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
</body>
</html>